.main-cont {
  margin-top: 2.5rem;
  display: flex;
}

.inf {
  display: flex;
  flex-direction: column;
  align-items: center; /* Добавьте это свойство для выравнивания по вертикали */
  gap: 15px;
  height: 659px;
  flex-shrink: 0;
}
.inform {
  position: relative;
  width: 640px;
  height: 322px;
  flex-shrink: 0;
  border-radius: 20px;
  background: #30333a;
}
.di {
  width: 293px;
  height: 293px;
  flex-shrink: 0;
}
.rec-text {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center; /* Добавьте это свойство для выравнивания по вертикали */
  gap: 33px;
  flex-shrink: 0;
  flex-wrap: wrap;
  width: 640px;
  height: 307px;
  top: 50%;
  transform: translateY(-50%);
}
.cont {
  width: 262px;
  height: 41px;
  display: flex;
  flex-shrink: 0;
}
.icon-rec {
  width: 3rem;
  height: auto;
  margin-right: 1rem;
}
.map-container {
  position: relative;
  width: 640px;
  height: 658px;
  margin-left: 2.1rem;
  margin-right: 1rem;
}
.leaflet-control-container .leaflet-routing-container-hide {
  display: none;
}
#map {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
  
}

.select-pos{
  width: 172px;
  height: 250px;
  position: absolute;
  z-index: 999;
  inset: 5% 0 0 5%;
}
.select-cont {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background: #444952;
  z-index: 999;
}
.genre-select {
  width: 155px;
}
.name-select {
  width: 155px;
}
.map-ok {
  border: none;
  width: 106px;
  height: 22px;
  border-radius: 10px;
  background: #3e92e0;
  margin-top: 1rem;
}
.pos2,
.pos1{
  margin-top: 1rem;
}
.di {
  position: absolute;
  top: 10%;
  left: 5%;
}
